<section class="mes-locations-page">
  <h1>Mes locations</h1>

  @if (locationService.chargementMesLocations()) {
    <p>Chargement...</p>
  }

  @if (locationService.erreurMesLocations()) {
    <p>{{ locationService.erreurMesLocations() }}</p>
  }

  @if (
    !locationService.chargementMesLocations() &&
    !locationService.erreurMesLocations()
  ) {
    <table>
      <thead>
        <tr>
          <th>Date début</th>
          <th>Date fin prévue</th>
          <th>Montant</th>
          <th>Statut</th>
          <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        @for (
          location of locationService.mesLocationsClient();
          track location.id
        ) {
          <tr>
            <td>{{ location.dateDebut }}</td>
            <td>{{ location.dateFinPrevue }}</td>
            <td>{{ location.montantTotal }} €</td>

            <td>
              @switch (location.statut) {
                @case ('EN_ATTENTE') {
                  <span>En attente</span>
                }

                @case ('EN_COURS') {
                  <span>En cours</span>
                }

                @case ('RETOURNEE') {
                  <span>Retournée</span>
                }

                @case ('ANNULEE') {
                  <span>Annulée</span>
                }
              }
            </td>

            <td>{{ location.notes || '-' }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</section>